body
{
	font-family:verdana;
	font-size:13px;
}
#header
{
	position:fixed;
	width:100%;
	background:#0D304E;
}
#header-logo
{
	padding-top: 0px;
	padding:10px;
}
#header-logo img
{
	width:295px;
	height:73px;
}
#black-div table
{
	width:100%;
	background:black;
	color:white;
	font-family:verdana;
	font-size: 13;
	padding:0px;
}
a.logout-link
{
	text-decoration: none;
	font-family: inherit;
	color:white;
	font-weight: bold;
	font-size: 12px;
}
#wrapper
{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}
#header-title
{
	padding-top:1%;
	width:71%;
	float:right;
	text-align: left;
	color: white;
	line-height:1;
}
#header-title span
{
	font-family: 'Comic Sans MS';
	font-size: 1.5em;
}
#footer
{
	padding:10px;
	width:100%;
	position:fixed;
	bottom:0;
	background:#0D304E;
	font-family: tahoma;
	font-size: 12px;
	color:white;
	text-align: center;
}
input[type='submit'],input[type='button'],button /* universal style */
{
	background:#EDEADE;
	color:#0000FF;
	font-family: verdana;
	font-weight: bold;
	font-size: 10px;
	border:none;
}
input[type='text'],input[type='password'] /* universal style */
{
	font-family:verdana;
	font-size:10px;
	border:1px solid black;
}
#content
{
	margin-top:5%;
}
#content-sidebar
{
	padding-top:50px;
	padding-left:50px;
	position:fixed;
	width:240px;
	height:100%;
	background-image:url('../images/sidebar-pattern.gif');
}
#content-sidebar ul
{
	font-family:verdana;
	font-weight:bold;
	font-size:12px;
	cursor:pointer;
}
#content-main
{
	margin-top:10%;
	margin-left:291px;
	padding:9px;
	margin-bottom:5%;
	overflow: scroll;
}
#tests,#results,#upload
{
	display:none;
}
table.standardTable
{
	font-family:inherit;
	font-size:inherit;
	background:#E6F2FF;
	border:1px solid black;
}
table.standardTable th
{
	background:#5A768D;
	color:white;
	font-family:tahoma;
	font-size:12px;
	padding:5px;
	border-right: 1px solid black;
}
table.standardTable td
{
	text-align: center;
	border-right:1px solid black;
	border-top:1px solid black;;
	padding:5px;
}
td button
{
	background:white;
	color:black;
	border: 1px solid black;
}
.standardTable a
{
	text-decoration: none;
}
.left10
{
	margin-left:10%;
}
.top10
{
	margin-top:10%;
}
.top5
{
	margin-top:5%;
}